<body>
  <!-- <div class="absolute">
    <img src="https://assets.nflxext.com/ffe/siteui/vlv3/dace47b4-a5cb-4368-80fe-c26f3e77d540/becb4b4a-fa87-47ab-b92b-aae2c1c6d6f7/SG-en-20231023-popsignuptwoweeks-perspective_alpha_website_small.jpg" alt=""> 
  </div> -->
  <div class="container">
    <h1 class="font-bold text-3xl py-4">Netflix Sign In</h1>
    <div id="google-btn"></div>
     <p >If you do not have google account click the link</p>
    <a (click)="navToRegistration()" class="link">click it</a>
  </div>
</body>

